/////////////////////////////////////////////////////////////////////////////////////////////////////////
/* VOY TALENT - DS */
/////////////////////////////////////////////////////////////////////////////////////////////////////////

//
// S-FOOTER
//

.s-footer {
	background-color: #222;
	text-align: left;
  overflow: hidden;
  position: relative;
  color: #fff;

  .pattern {
    //background: repeating-linear-gradient(-45deg, transparent, $grey1 1px, transparent 2px, transparent 7px);
    background: url(pattern-stripe-dark.png);
    position: absolute;
    top:0;
    height: 100%;
    width: 50%;
    left: 50%;
  }

	p {
		color: $white;
		margin: 0 0 20px;
	}

	a {
		display: inline-block;
		color: $white; text-decoration: none;
		&:hover { color: $yellow;}
	}

	.mb0 { margin-bottom: 0;}

	ul { margin: 0; padding: 0;
		li { list-style-type: none;}
	}

	.hide-tab-desktop {
		display: none;
	}

	@media screen and (min-width: $bp-1024) {
		padding: 76px 0;

    .pattern {
      width: 25%;
      left: 75%;
    }

		.hide-tab-desktop {
			display: block;
		}

	}
}

