/////////////////////////////////////////////////////////////////////////////////////////////////////////
/* VOY TALENT - DS */
/////////////////////////////////////////////////////////////////////////////////////////////////////////

//
// S-FOOTER
//

.s-footer {
	background-color: $grey1;
	text-align: left;

	p {
		color: $white;
		margin: 0 0 20px;
	}

	a {
		display: inline-block;
		color: $white; text-decoration: none;
		&:hover { color: $orange;}
	}

	.mb0 { margin-bottom: 0;}

	ul { margin: 0; padding: 0;
		li { list-style-type: none;}
	}

	.hide-tab-desktop {
		display: none;
	}
	
	@media screen and (min-width: $bp-1024) {
		padding: 76px 0;

		.hide-tab-desktop {
			display: block;
		}

	}
}

