{% extends "layout-lab.njk" %}

{% block content %}

<style type="text/css">

        /*
          sizeA = 480px
          sizeB = 1024px
          sizeC = 1440px
          sizeD = 2048px

          ex. assets/images/temp-featured-a.jpg -> img width 480px
          ex. assets/images/temp-featured-d.jpg -> img width 2048px
        */

        /*  Default mobile first image
            sizeA = 480px */
        .s-featured-image .image  { background-image: url(assets/images/temp-featured.jpg); }

        /*  Higher resolution
            sizeB = 1024px */
        @media only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min--moz-device-pixel-ratio: 2),
        only screen and (-o-min-device-pixel-ratio: 2/1),
        only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 192dpi),
        only screen and (min-resolution: 2dppx)
        { .s-featured-image .image  { background-image: url(assets/images/temp-featured.jpg); } }

        /*  Default 768
            sizeB = 1024px */
        @media only screen and (min-width:768px) { .s-featured-image .image  { background-image: url(assets/images/temp-featured.jpg); } }
        /*  Higher resolution 768
            sizeD = 2048px */
        @media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width:768px),
        only screen and (min--moz-device-pixel-ratio: 2) and (min-width:768px),
        only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width:768px),
        only screen and (min-device-pixel-ratio: 2) and (min-width:768px),
        only screen and (min-resolution: 192dpi) and (min-width:768px),
        only screen and (min-resolution: 2dppx) and (min-width:768px)
        { .s-featured-image .image  { background-image: url(assets/images/temp-featured.jpg); } }

        /*  Default 1024
            sizeC = 1440px */
        @media only screen and (min-width:1024px) { .s-featured-image .image  { background-image: url(assets/images/temp-featured.jpg); } }
        /*  Higher resolution 1024
            sizeD = 2048px */
        @media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width:1024px),
        only screen and (min--moz-device-pixel-ratio: 2) and (min-width:1024px),
        only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width:1024px),
        only screen and (min-device-pixel-ratio: 2) and (min-width:1024px),
        only screen and (min-resolution: 192dpi) and (min-width:1024px),
        only screen and (min-resolution: 2dppx) and (min-width:1024px)
        { .s-featured-image .image  { background-image: url(assets/images/temp-featured.jpg); } }

        /*  Default 1440
            sizeC = 1440px */
        @media only screen and (min-width:1440px) { .s-featured-image .image  { background-image: url(assets/images/temp-featured.jpg); } }
        /*  Higher resolution 1440
            sizeD = 2048px */
        @media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width:1440px),
        only screen and (min--moz-device-pixel-ratio: 2) and (min-width:1440px),
        only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width:1440px),
        only screen and (min-device-pixel-ratio: 2) and (min-width:1440px),
        only screen and (min-resolution: 192dpi) and (min-width:1440px),
        only screen and (min-resolution: 2dppx) and (min-width:1440px)
        { .s-featured-image .image  { background-image: url(assets/images/temp-featured.jpg); } }

</style>

<br><br>
<section class="s-featured-image">

  <figure class="image" class="-focus-center-center"></figure>

  <div class="text">
    <div class="gc">
      <div class="g-12">

        <div class="headers">
          <h2 class="header">
            Deafult
          </h2>
          <h3 class="sub-header">
            Default center-center text-left
          </h3>
        </div>

      </div>
    </div>
  </div>

</section>


<br><br>
<section class="s-featured-image -text-pos-right">

  <figure class="image" class="-focus-right-top "></figure>

  <div class="text">
    <div class="gc">
      <div class="g-12">

        <div class="headers">
          <h2 class="header">
            Text right
          </h2>
          <h3 class="sub-header">
            -focus-right-top -text-pos-right
          </h3>
        </div>

      </div>
    </div>
  </div>

</section>

<br><br>
<section class="s-featured-image -text-pos-center">

  <figure class="image" class="-focus-center-center "></figure>

  <div class="text">
    <div class="gc">
      <div class="g-12">

        <div class="headers">
          <h2 class="header">
            Text center
          </h2>
          <h3 class="sub-header">
            -text-pos-center
          </h3>
        </div>

      </div>
    </div>
  </div>

</section>

<br><br>
<section class="s-featured-image -text-pos-center -text-large">

  <figure class="image" class="-focus-center-center "></figure>

  <div class="text">
    <div class="gc">
      <div class="g-12">

        <div class="headers">
          <h2 class="header">
            Text center large
          </h2>
          <h3 class="sub-header">
            -text-pos-center -text-pos-large
          </h3>
        </div>

      </div>
    </div>
  </div>

</section>


<br><br>

  {% include "ds/s-join-email.njk" %}
  {% include "ds/s-follow.njk" %}
  {% include "ds/s-footer.njk" %}


{% endblock %}
