{% extends "layout.njk" %}

{% block content %}


<!-- COLOR PALETTE -->

<section class="s-colors">
	<div class="gc">

		<div class="g-12">
			<h2 class="sgd-header -type -common">Color palette</h2>
		</div>
		<div class="g-4">
			<div class="sgd-color-card -yellow"><div class="body"></div></div>
		</div>
		<div class="g-4">
			<div class="sgd-color-card -orange"><div class="body"></div></div>
		</div>
		<div class="g-4">
			<div class="sgd-color-card -green"><div class="body"></div></div>
		</div>

		<div class="g-2">
			<div class="sgd-color-card -white"><div class="body"></div></div>
		</div>
		<div class="g-2">
			<div class="sgd-color-card -black"><div class="body"></div></div>
		</div>
		<div class="g-2">
			<div class="sgd-color-card -grey1"><div class="body"></div></div>
		</div>
		<div class="g-2">
			<div class="sgd-color-card -grey2"><div class="body"></div></div>
		</div>
		<div class="g-2">
			<div class="sgd-color-card -grey3"><div class="body"></div></div>
		</div>
		<div class="g-2">
			<div class="sgd-color-card -grey4"><div class="body"></div></div>
		</div>

	</div>
</section>


<!-- PATTERNS -->

<section class="s-patterns -light">
	<div class="gc">

		<div class="g-12">
			<h2 class="sgd-header -type -common">Patterns</h2>
		</div>
		<div class="g-4">
			<div class="sgd-pattern -pattern-stripe-big-dark"><span>-pattern-stripe-big-dark</span></div>
		</div>
		<div class="g-4 g-pull-4">
			<div class="sgd-pattern -pattern-stripe-dark"><span>-pattern-stripe-dark</span></div>
		</div>
		<div class="g-4">
			<div class="sgd-pattern -pattern-stripe-big-light"><span>-pattern-stripe-big-light</span></div>
		</div>
		<div class="g-4">
			<div class="sgd-pattern -pattern-stripe-light"><span>-pattern-stripe-light</span></div>
		</div>
		<div class="g-4">
			<div class="sgd-pattern -pattern-stripe-light-tight"><span>-pattern-stripe-light-tight</span></div>
		</div>
		<div class="g-4">
			<div class="sgd-pattern -pattern-stripe-big-orange"><span>-pattern-stripe-big-orange</span></div>
		</div>
		<div class="g-4">
			<div class="sgd-pattern -pattern-stripe-orange"><span>-pattern-stripe-orange</span></div>
		</div>
		<div class="g-4">
			<div class="sgd-pattern -pattern-solid-orange"><span>-pattern-solid-orange</span></div>
		</div>
		
	</div>
</section>


<!-- GRID -->

<section class="s-grid">
	<div class="gc">
		<div class="g-12">
			<h2 class="sgd-header -type -common">Grid</h2>
		</div>	
	</div>

	<!-- VOY-DS SCOPE -->
	<div class="ds-grid">
		<div class="gc">

			<div class="g-12"><div class="sgd-placeholder">g-12</div></div>

			<div class="g-11"><div class="sgd-placeholder">g-11</div></div>
			<div class="g-1"><div class="sgd-placeholder">g-1</div></div>

			<div class="g-10"><div class="sgd-placeholder">g-10</div></div>
			<div class="g-2"><div class="sgd-placeholder">g-2</div></div>

			<div class="g-9"><div class="sgd-placeholder">g-9</div></div>
			<div class="g-3"><div class="sgd-placeholder">g-3</div></div>

			<div class="g-8"><div class="sgd-placeholder">g-8</div></div>
			<div class="g-4"><div class="sgd-placeholder">g-4</div></div>

			<div class="g-7"><div class="sgd-placeholder">g-7</div></div>
			<div class="g-5"><div class="sgd-placeholder">g-5</div></div>

			<div class="g-6"><div class="sgd-placeholder">g-6</div></div>
			<div class="g-6"><div class="sgd-placeholder">g-6</div></div>

			<div class="g-1"><div class="sgd-placeholder">g-1</div></div>
			<div class="g-1"><div class="sgd-placeholder">g-1</div></div>
			<div class="g-1"><div class="sgd-placeholder">g-1</div></div>
			<div class="g-1"><div class="sgd-placeholder">g-1</div></div>
			<div class="g-1"><div class="sgd-placeholder">g-1</div></div>
			<div class="g-1"><div class="sgd-placeholder">g-1</div></div>
			<div class="g-1"><div class="sgd-placeholder">g-1</div></div>
			<div class="g-1"><div class="sgd-placeholder">g-1</div></div>
			<div class="g-1"><div class="sgd-placeholder">g-1</div></div>
			<div class="g-1"><div class="sgd-placeholder">g-1</div></div>
			<div class="g-1"><div class="sgd-placeholder">g-1</div></div>
			<div class="g-1"><div class="sgd-placeholder">g-1</div></div>

			<div class="g-3 g-push-1 g-pull-8"><div class="sgd-placeholder">g-2 g-push-1</div></div>
			<div class="g-2 g-push-3 g-pull-7"><div class="sgd-placeholder">g-4 g-push-3</div></div>

		</div>	

		<div class="gc -g-center">
			<div class="g-6"><div class="sgd-placeholder">g-6</div></div>
		</div>

		<div class="gc -no-gutter">
			<div class="g-4"><div class="sgd-placeholder">g-4</div></div>
			<div class="g-4"><div class="sgd-placeholder -darker">g-4</div></div>
			<div class="g-4"><div class="sgd-placeholder">g-4</div></div>
		</div>

		<div class="gc -full-width">
			<div class="g-4"><div class="sgd-placeholder">g-4</div></div>
			<div class="g-4"><div class="sgd-placeholder -darker">g-4</div></div>
			<div class="g-4"><div class="sgd-placeholder">g-4</div></div>
		</div>

		<div class="gc -maximize">
			<div class="g-4"><div class="sgd-placeholder">g-4</div></div>
			<div class="g-4"><div class="sgd-placeholder -darker">g-4</div></div>
			<div class="g-4"><div class="sgd-placeholder">g-4</div></div>
		</div>

	</div>

</section>



<!-- TYPOGRAPHY -->

<section class="s-typography -light ">
	<div class="gc">
		<div class="g-12">
			<h2 class="sgd-header -type -common">Typography</h2>
		</div>
		<div class="g-6 ds-typography">
			<h1>Header 1 - System</h1>
			<h2>Header 2 - System</h2>
			<h3>Header 3 - System</h3>
			<h4>Header 4 - System</h4>
			<h5>Header 5 - System</h5>
			<h6>Header 6 - System</h6>
		</div>
		<div class="g-6 ds-typography">
			<p>P TAG: Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
			
			NO P TAG:Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.

		</div>
		<div class="g-12">
			<h2 class="sgd-header -sub">.header-section</h2>
		</div>
		<div class="g-12 ds-typography">
			{% include "ds/typo-header-section.njk" %}
		</div>	
		<div class="g-12">
			<h2 class="sgd-header -sub">.header-number & .-solid</h2>
		</div>
		<div class="g-12 ds-typography">
			{% include "ds/typo-header-number-solid.njk" %}
		</div>
		<div class="g-12">
			<h2 class="sgd-header -sub">.header-number</h2>
		</div>
		<div class="g-12 ds-typography">
			{% include "ds/typo-header-number.njk"%}
		</div>		
	</div>
</section>


<!-- ICONS -->

<section class="s-icons sgd-icons">
	<div class="gc">
		<div class="g-12">
			<h2 class="sgd-header -type -common">Icons</h2>
		</div>
		<div class="g-12">
			<img src="assets/images/svg/x.svg">
			<img src="assets/images/svg/magnifier.svg">
			<img src="assets/images/svg/arrow.svg">
			<img src="assets/images/svg/email.svg">
			<img src="assets/images/svg/minus.svg">
			<!-- <img src="assets/images/svg/plus.svg"> -->
			<img src="assets/images/svg/plus-circle.svg">
			<img src="assets/images/svg/media-control.svg">
			<img src="assets/images/svg/sound.svg">
		</div>
	</div>
</section>


<!-- LINKS -->

<section class="s-links -light">
	<div class="gc">
		<div class="g-12">
			<h2 class="sgd-header -type -common">Links</h2>
		</div>
		<div class="g-4">
			<a href="#">This is a link</a>
		</div>
	</div>
</section>


<!-- BUTTONS -->

<section class="s-buttons ">
	<div class="gc">
		<div class="g-12">
			<h2 class="sgd-header -type -component">Buttons</h2>
		</div>
		<div class="g-12 sgd-buttons">
			<a class="btn -black">Join Voy</a>
			<a class="btn -green -icon">Send<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 3v18h24v-18h-24zm21.518 2l-9.518 7.713-9.518-7.713h19.036zm-19.518 14v-11.817l10 8.104 10-8.104v11.817h-20z"/></sv<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 3v18h24v-18h-24zm21.518 2l-9.518 7.713-9.518-7.713h19.036zm-19.518 14v-11.817l10 8.104 10-8.104v11.817h-20z"/></svg></a>
			<a class="btn -orange -icon">Send<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 3v18h24v-18h-24zm21.518 2l-9.518 7.713-9.518-7.713h19.036zm-19.518 14v-11.817l10 8.104 10-8.104v11.817h-20z"/></svg></a>
		</div>
	</div>
</section>



<!-- FORMS-->

<section class="s-forms -light">
	<div class="gc">
		<div class="g-12">
			<h2 class="sgd-header -type -component">Forms</h2>
		</div>
	</div>

	<div class="gc">
		<div class="g-6">
			<input class="-full-width" type="text" placeholder="First name">
		</div>
		<div class="g-6">
			<input class="-full-width" type="text" placeholder="Last name">
		</div>
		<div class="g-6">
			<input class="-full-width -error" type="phone" placeholder="Phone">
		</div>
		<div class="g-6">
			<input type="email" placeholder="Email">
		</div>
		<div class="g-12">
			<textarea class="-full-width" placeholder="Describe your dreams and ambitions"></textarea>
		</div>
		<div class="g-6">
			<label class="checkbox-holder">I' m looking mostly for freelance work!
			  <input type="checkbox" checked="checked">
			  <span class="checkmark"></span>
			</label>
		</div>
		<div class="g-6">
		</div>
	</div>

</section>


<!-- MODULE LIST -->

<section class="s- -light">
	<div class="gc">
		<div class="g-12">
			<h2 class="sgd-header -type -module">List</h2>
		</div>
		<div class="g-12">
			{% include "ds/m-list.njk" %}
		</div>
	</div>
</section>

<!-- MODULE TEAM PERSON -->

<section class="s- -light">
	<div class="gc">
		<div class="g-12">
			<h2 class="sgd-header -type -module">Teaser person</h2>
		</div>
		<div class="g-6">
			{% include "ds/m-teaser-person.njk" %}
		</div>
	</div>
</section>

<!-- MODULE TEAM PERSON -->

<!-- <section class="s- -inverted">
	<div class="gc">
		<div class="g-12">
			<h2 class="sgd-header -type -module">Team person</h2>
		</div>
		<div class="g-4">
			Team person comes here
		</div>
	</div>
</section> -->
f



<!-- SECTION HEADER -->

<section class="s- -light">
	<div class="gc">
		<div class="g-12">
			<h2 class="sgd-header -type -section">Header</h2>
		</div>
	</div>

	{% include "ds/s-header.njk" %}

</section>

<!-- SECTION HEADER -->

<section class="s- -light">
	<div class="gc">
		<div class="g-12">
			<h2 class="sgd-header -type -section">Breadcrumbs</h2>
		</div>
	</div>

	{% include "ds/s-breadcrumbs.njk" %}

</section>

<!-- SECTION INSPIRATION WEEK -->
<div class="ds">
	<section class="s- -light">
		<div class="gc">
			<div class="g-12">
				<h2 class="sgd-header -type -section">Inspiration week</h2>
			</div>
		</div>

		{% include "ds/s-inspiration-week.njk" %}

	</section>
</div>


<!-- SECTION JOIN EMAIL -->
<div class="ds">
	<section class="s- -light">
		<div class="gc">
			<div class="g-12">
				<h2 class="sgd-header -type -section">Join - Email</h2>
			</div>
		</div>

		{% include "ds/s-join-email.njk" %}

	</section>
</div>

<!-- SECTION SHARE -->

<section class="s- ">
	<div class="gc">
		<div class="g-12">
			<h2 class="sgd-header -type -section">Share</h2>
		</div>
	</div>

	{% include "ds/s-share.njk" %}

</section>

<!-- SECTION FOOTER -->

<section class="s- ">
	<div class="gc">
		<div class="g-12">
			<h2 class="sgd-header -type -section">Footer</h2>
		</div>
	</div>

	{% include "ds/s-footer.njk" %}

</section>



{% endblock %}