{% extends "layout.njk" %}

{% block content %}


<!-- COLOR PALETTE -->

<section class="s-colors">
	<div class="gc">

		<div class="g-12">
			<h2 class="sgd-header -type -common">Color palette</h2>
		</div>
		<div class="g-4">
			<div class="sgd-color-card -yellow"><div class="body"></div></div>
		</div>
		<div class="g-4">
			<div class="sgd-color-card -orange"><div class="body"></div></div>
		</div>
		<div class="g-4">
			<div class="sgd-color-card -green"><div class="body"></div></div>
		</div>

		<div class="g-2">
			<div class="sgd-color-card -white"><div class="body"></div></div>
		</div>
		<div class="g-2">
			<div class="sgd-color-card -black"><div class="body"></div></div>
		</div>
		<div class="g-2">
			<div class="sgd-color-card -grey1"><div class="body"></div></div>
		</div>
		<div class="g-2">
			<div class="sgd-color-card -grey2"><div class="body"></div></div>
		</div>
		<div class="g-2">
			<div class="sgd-color-card -grey3"><div class="body"></div></div>
		</div>
		<div class="g-2">
			<div class="sgd-color-card -grey4"><div class="body"></div></div>
		</div>

	</div>
</section>


<!-- PATTERNS -->

<section class="s-patterns -light">
	<div class="gc">

		<div class="g-12">
			<h2 class="sgd-header -type -common">Patterns</h2>
		</div>
		<div class="g-4">
			<div class="sgd-pattern -pattern1">Pattern 1</div>
		</div>
		<div class="g-4">
			<div class="sgd-pattern -pattern2">Pattern 2</div>
		</div>
		
	</div>
</section>


<!-- GRID -->

<section class="s-grid">
	<div class="gc">
		<div class="g-12">
			<h2 class="sgd-header -type -common">Grid</h2>
		</div>	
	</div>

	<!-- VOY-DS SCOPE -->
	<div class="ds-grid">
		<div class="gc">

			<div class="g-12"><div class="sgd-placeholder">g-12</div></div>

			<div class="g-11"><div class="sgd-placeholder">g-11</div></div>
			<div class="g-1"><div class="sgd-placeholder">g-1</div></div>

			<div class="g-10"><div class="sgd-placeholder">g-10</div></div>
			<div class="g-2"><div class="sgd-placeholder">g-2</div></div>

			<div class="g-9"><div class="sgd-placeholder">g-9</div></div>
			<div class="g-3"><div class="sgd-placeholder">g-3</div></div>

			<div class="g-8"><div class="sgd-placeholder">g-8</div></div>
			<div class="g-4"><div class="sgd-placeholder">g-4</div></div>

			<div class="g-7"><div class="sgd-placeholder">g-7</div></div>
			<div class="g-5"><div class="sgd-placeholder">g-5</div></div>

			<div class="g-6"><div class="sgd-placeholder">g-6</div></div>
			<div class="g-6"><div class="sgd-placeholder">g-6</div></div>

			<div class="g-1"><div class="sgd-placeholder">g-1</div></div>
			<div class="g-1"><div class="sgd-placeholder">g-1</div></div>
			<div class="g-1"><div class="sgd-placeholder">g-1</div></div>
			<div class="g-1"><div class="sgd-placeholder">g-1</div></div>
			<div class="g-1"><div class="sgd-placeholder">g-1</div></div>
			<div class="g-1"><div class="sgd-placeholder">g-1</div></div>
			<div class="g-1"><div class="sgd-placeholder">g-1</div></div>
			<div class="g-1"><div class="sgd-placeholder">g-1</div></div>
			<div class="g-1"><div class="sgd-placeholder">g-1</div></div>
			<div class="g-1"><div class="sgd-placeholder">g-1</div></div>
			<div class="g-1"><div class="sgd-placeholder">g-1</div></div>
			<div class="g-1"><div class="sgd-placeholder">g-1</div></div>

			<div class="g-3 g-push-1 g-pull-8"><div class="sgd-placeholder">g-2 g-push-1</div></div>
			<div class="g-2 g-push-3 g-pull-7"><div class="sgd-placeholder">g-4 g-push-3</div></div>

		</div>	

		<div class="gc -g-center">
			<div class="g-6"><div class="sgd-placeholder">g-6</div></div>
		</div>

		<div class="gc -no-gutter">
			<div class="g-4"><div class="sgd-placeholder">g-4</div></div>
			<div class="g-4"><div class="sgd-placeholder -darker">g-4</div></div>
			<div class="g-4"><div class="sgd-placeholder">g-4</div></div>
		</div>

		<div class="gc -full-width">
			<div class="g-4"><div class="sgd-placeholder">g-4</div></div>
			<div class="g-4"><div class="sgd-placeholder -darker">g-4</div></div>
			<div class="g-4"><div class="sgd-placeholder">g-4</div></div>
		</div>

		<div class="gc -maximize">
			<div class="g-4"><div class="sgd-placeholder">g-4</div></div>
			<div class="g-4"><div class="sgd-placeholder -darker">g-4</div></div>
			<div class="g-4"><div class="sgd-placeholder">g-4</div></div>
		</div>

	</div>

</section>


<!-- SPACING -->

<section class="s-spacing -light">
	<div class="gc">
		<div class="g-12">
			<h2 class="sgd-header -type -common">Spacing</h2>
		</div>
		<div class="g-4">
			Spacing comes here
		</div>
	</div>
</section>


<!-- TYPOGRAPHY -->

<section class="s-typography">
	<div class="gc">
		<div class="g-12">
			<h2 class="sgd-header -type -common">Typography</h2>
		</div>
		<div class="g-4">
			Typo comes here
		</div>
	</div>
</section>


<!-- ICONS -->

<section class="s-icons -light">
	<div class="gc">
		<div class="g-12">
			<h2 class="sgd-header -type -common">Icons</h2>
		</div>
		<div class="g-4">
			Icons comes here
		</div>
	</div>
</section>


<!-- LINKS -->

<section class="s-links">
	<div class="gc">
		<div class="g-12">
			<h2 class="sgd-header -type -common">Links</h2>
		</div>
		<div class="g-4">
			Links comes here
		</div>
	</div>
</section>


<!-- BUTTONS -->

<section class="s-buttons -light">
	<div class="gc">
		<div class="g-12">
			<h2 class="sgd-header -type -component">Buttons</h2>
		</div>
		<div class="g-4">
			Buttons comes here
		</div>
	</div>
</section>



<!-- FORMS-->

<section class="s-forms">
	<div class="gc">
		<div class="g-12">
			<h2 class="sgd-header -type -component">Forms</h2>
		</div>
		<div class="g-4">
			Forms comes here
		</div>
	</div>
</section>


<!-- MODULE TEAM PERSON -->

<section class="s- -light">
	<div class="gc">
		<div class="g-12">
			<h2 class="sgd-header -type -module">Team person</h2>
		</div>
		<div class="g-4">
			Team person comes here
		</div>
	</div>
</section>

<!-- MODULE TEAM PERSON -->

<section class="s- -inverted">
	<div class="gc">
		<div class="g-12">
			<h2 class="sgd-header -type -module">Team person</h2>
		</div>
		<div class="g-4">
			Team person comes here
		</div>
	</div>
</section>


<!-- SECTION HEADER-->

<section class="s- ">
	<div class="gc">
		<div class="g-12">
			<h2 class="sgd-header -type -section">Header</h2>
		</div>
		<div class="g-4">
			Header comes here
		</div>
	</div>
</section>

<!-- SECTION FOOTER -->

<section class="s- -light">
	<div class="gc">
		<div class="g-12">
			<h2 class="sgd-header -type -section">Footer</h2>
		</div>
		<div class="g-4">
			Footer comes here
		</div>
	</div>
</section>

{% endblock %}