{% extends "layout-page.njk" %}

{% block content %}


	<div class="p-job">

		<div class="gc job-content">
			<div class="g-8 g-t-12 g-push-4 g-m-push-0 g-t-push-0  ds-typography">
				<h1>Alexander Lastname</h1>

				<div class="job-details -pattern-stripe-light">
				
					<div class="company">Swisscom</div>
					<div class="detail">
						<span class="header">Job:</span>
						<span class="text">Creative Director</span>
					</div>
					<div class="detail">
						<span class="header">Employment:</span>
						<span class="text">Full-time</span>
					</div>
					<div class="detail">
						<span class="header">Location:</span>
						<span class="text">Zurich, Switzerland</span>
					</div>
			
				</div>

				<p class="bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et eleifend leo. Aliquam semper luctus porta. Duis augue tortor, mattis id elit at, fringilla rhoncus sem. Donec dapibus neque in venenatis pulvinar. Pellentesque sit amet leo ac erat ornare venenatis pulvinar bibendum nibh. Quisque pharetra finibus velit non luctus.</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam condimentum euismod viverra. Morbi nec lacus neque. Suspendisse rhoncus fermentum ante, sed bibendum dui tristique eget. Vivamus eget aliquet metus. Maecenas velit ligula, pharetra vel tellus et, mattis porttitor ex. Vivamus ex nulla, maximus eu lacinia eget, vehicula vel quam. Fusce rhoncus ultricies turpis, eleifend rutrum nibh dictum sit amet. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>

				<figure class="image">
					<img src="assets/images/employee.jpg">
				</figure>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam condimentum euismod viverra. Morbi nec lacus neque. Suspendisse rhoncus fermentum ante, sed bibendum dui tristique eget. Vivamus eget aliquet metus. Maecenas velit ligula, pharetra vel tellus et, mattis porttitor ex. Vivamus ex nulla, maximus eu lacinia eget, vehicula vel quam. Fusce rhoncus ultricies turpis, eleifend rutrum nibh dictum sit amet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In tristique euismod urna, vel blandit erat rhoncus at. Nunc a leo ex. Proin suscipit tortor in fermentum condimentum.</p>
				
			</div>
		</div>
		
	</div>


{% endblock %}
