{% extends "layout-page.njk" %}

{% block content %}

	<div class="p-stories">

		<!-- Header + text -->

		<section class="s-stories-top">
			<div class="gc">
				<div class="g-12">
					<h2 class="header-section">You make it worth!</h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean maximus ante at elit gravida molestie. Morbi ac erat dolor. Quisque interdum sodales nunc in commodo. Morbi egestas enim sollicitudin lectus iaculis finibus. Duis quis augue elementum, molestie dolor scelerisque, pharetra turpis.</p>
				</div>
			</div>
		</section>

		<section class="s-stories-filter">
			<div class="gc">
				<div class="g-12">
					{% include "ds/m-filter.njk" %}
				</div>
			</div>
		</section>

		<section class="s-stories-teaser-big">
			<div class="m-stories-teaser-big">
				<div class="gc">
					<div class="g-4">
						<figure class="-round">
							<img src="assets/images/woman.jpg">
						</figure>
					</div>
					<div class="g-8">
						<div class="header"><h3 class="-block">Alexander Lastname </h3> Feb 15, 2019 / Creative director / Company</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean maximus ante at elit gravida molestie. Morbi ac erat dolor. Quisque interdum sodales nunc in commodo. Morbi egestas enim sollicitudin lectus iaculis finibus. Duis quis augue elementum, molestie dolor scelerisque, pharetra turpis.</p>
						<a class="btn -yellow -icon-only">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"/></svg>
						</a>
					</div>
				</div>
			</div>

			<div class="m-stories-teaser-big">
				<div class="gc">
					<div class="g-8">
						<div class="header"><h3 class="-block">Anna Lastname </h3> Feb 15, 2019 / Creative director / Company</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean maximus ante at elit gravida molestie. Morbi ac erat dolor. Quisque interdum sodales nunc in commodo. Morbi egestas enim sollicitudin lectus iaculis finibus. Duis quis augue elementum, molestie dolor scelerisque, pharetra turpis.</p>
						<a class="btn -yellow -icon-only">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"/></svg>
						</a>
					</div>
					<div class="g-4">
						<figure>
							<img src="assets/images/woman.jpg">
						</figure>
					</div>
				</div>
			</div>

		</section>

		<section class="s-stories-teaser-small">
			<div class="gc">
				<div class="g-6">
					<div class="m-stories-teaser-small">
						<div class="body">
							<div class="header">
								<h4 class="header-name">Alexander Lastname</h4>
								<h5 class="header-title">CEO & Co-founder</h5>
							</div>
							<figure class="image">
								<img src="assets/images/woman.jpg">
							</figure>

							<div class="text">
								<h3>Alexander Lastname</h3>
								<div class="date-time-name">
									<span>Feb 15, 2019</span> /
									<span>Creative director</span> /
									<span>Company</span>
								</div>
							</div>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean maximus ante at elit gravida molestie. Morbi ac erat dolor.</p>
						<a class="btn -yellow -icon-only">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"/></svg>
						</a>
					</div>
				</div>
			</div>
		</section>


	</div>

{% endblock %}
