{% extends "layout-page.njk" %}

{% block content %}

	<div class="p-voyTv">
		<div class="gc">
			<div class="g-12 ds-typography">
				<h2 class="header-section">Voy Tv</h2>
			</div>
		</div>

		<div class="gc">
			{% include "ds/m-teaser-video.njk" %}
			{% include "ds/m-teaser-video.njk" %}
			{% include "ds/m-teaser-video.njk" %}
			{% include "ds/m-teaser-video.njk" %}
			{% include "ds/m-teaser-video.njk" %}
			{% include "ds/m-teaser-video.njk" %}
			{% include "ds/m-teaser-video.njk" %}
			{% include "ds/m-teaser-video.njk" %}
			{% include "ds/m-teaser-video.njk" %}
		</div>
	</div>

{% endblock %}
