{% extends "layout-page.njk" %}

{% block content %}

	<div class="p-voyPodcast">
		<div class="gc">
			<div class="g-12 ds-typography">
				<h2 class="header-section">Voy Podcast</h2>
			</div>
		</div>

		<div class="gc">
			<div class="g-12 ds-typography">
				<div class="m-list -search">

					<h3 class="m-list-header">Listen to our podcast for...</h3>

				    <ul>

				      <li>
				        <a href="#">
				          <!--  -->
				          <div class="text"><strong class="-block">Marketing Manager Anna Lastname </strong> Feb 15, 2019 / 33 min / Company</div>
				          <span class="btn -orange -icon-only">
				            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"></path></svg>
				          </span>
				        </a>
				      </li>

				      <li>
				        <a href="#">
				          <!--  -->
				          <div class="text"><strong class="-block">Digital Designer john Lastname </strong> Feb15, 2019 / 33 min / Company</div>
				          <span class="btn -orange -icon-only">
				            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"></path></svg>
				          </span>
				        </a>
				      </li>

				      <li>
				        <a href="#">
				          <!--  -->
				          <div class="text"><strong class="-block">Developer Ann Lastname </strong> Feb15, 2019 / 33 min / Company</div>
				          <span class="btn -orange -icon-only">
				            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"></path></svg>
				          </span>
				        </a>
				      </li>

				      <li>
				        <a href="#">
				          <!--  -->
				          <div class="text"><strong class="-block">Marketing Manager Anna Lastname </strong> Feb 15, 2019 / 33 min / Company</div>
				          <span class="btn -orange -icon-only">
				            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"></path></svg>
				          </span>
				        </a>
				      </li>

				      <li>
				        <a href="#">
				          <!--  -->
				          <div class="text"><strong class="-block">Digital Designer john Lastname </strong> Feb15, 2019 / 33 min / Company</div>
				          <span class="btn -orange -icon-only">
				            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"></path></svg>
				          </span>
				        </a>
				      </li>

				      <li>
				        <a href="#">
				          <!--  -->
				          <div class="text"><strong class="-block">Developer Ann Lastname </strong> Feb15, 2019 / 33 min / Company</div>
				          <span class="btn -orange -icon-only">
				            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"></path></svg>
				          </span>
				        </a>
				      </li>

				    </ul>

				</div>
			</div>
		</div>

	</div>

{% endblock %}
