{% extends "layout-page.njk" %}

{% block content %}

	<div class="p-inspiration">

		<!-- Header + text -->
		
		<section class="s-inspiration-top">
			<div class="gc">
				<div class="g-12 ds-typography">
					<h2 class="header-section">Get inspierd and inspire!</h2>

					<p>Curabitur eu libero vitae tortor eleifend placerat. Aenean et accumsan orci. Phasellus maximus ligula at mauris aliquet accumsan. Nulla scelerisque ac sem eu cursus. Suspendisse non leo aliquam, dapibus nunc id, sodales eros. Quisque elementum maximus elit vel sollicitudin. Etiam suscipit varius feugiat. Phasellus mattis, nisi a scelerisque iaculis, ligula felis placerat felis, et mattis tortor elit vitae tellus.</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean maximus ante at elit gravida molestie. Morbi ac erat dolor. Quisque interdum sodales nunc in commodo. Morbi egestas enim sollicitudin lectus iaculis finibus. Duis quis augue elementum, molestie dolor scelerisque, pharetra turpis. Cras et neque sed purus sollicitudin iaculis eget quis nibh. Quisque pulvinar lacus et hendrerit commodo. Pellentesque ut vestibulum lorem. Sed sed ante aliquam, sagittis lacus quis, faucibus purus. Etiam quis consequat turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas vestibulum velit egestas lorem viverra euismod. Fusce vestibulum et ante eget imperdiet.</p>
				</div>
			</div>
		</section>

		<section class="s-pod-list">
			<div class="gc">
				<div class="g-12 ds-typography">
					<div class="m-list -search">

						<h3 class="m-list-header">Listen to our podcast for...</h3>

					    <ul>

					      <li>
					        <a href="#">
					          <!--  -->
					          <div class="text"><strong class="-block">Marketing Manager Anna Lastname </strong> Feb 15, 2019 / 33 min / Company</div>
					          <span class="btn -orange -icon-only">
					            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"></path></svg>
					          </span>
					        </a>
					      </li>

					      <li>
					        <a href="#">
					          <!--  -->
					          <div class="text"><strong class="-block">Digital Designer john Lastname </strong> Feb15, 2019 / 33 min / Company</div>
					          <span class="btn -orange -icon-only">
					            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"></path></svg>
					          </span>
					        </a>
					      </li>

					      <li>
					        <a href="#">
					          <!--  -->
					          <div class="text"><strong class="-block">Developer Ann Lastname </strong> Feb15, 2019 / 33 min / Company</div>
					          <span class="btn -orange -icon-only">
					            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"></path></svg>
					          </span>
					        </a>
					      </li>

					    </ul>

					    <a class="btn -black -icon -block -text-left">Podcast list<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"/></svg></a>

					</div>
				</div>
			</div>
		</section>
		
		{% include "ds/s-inspiration-week.njk" %}
		
		<section class="s-video-teasers">
			<div class="gc">
				{% include "ds/m-teaser-video.njk" %}
				{% include "ds/m-teaser-video.njk" %}
				{% include "ds/m-teaser-video.njk" %}
			</div>
		</section>

	</div>

{% endblock %}
