/////////////////////////////////////////////////////////////////////////////////////////////////////////
/* VOY TALENT - DS */
/////////////////////////////////////////////////////////////////////////////////////////////////////////

//
// PAGINATE
//

.m-paginate {

    .page-numbers {
        padding: 4px 12px;
        margin-right: 12px;
        border-radius: 4px;
        background-color: $grey3;
        text-decoration: none;
        display: inline-block;
        color: $black;
        &:hover {
        	background:lighten($grey2,10%);
        }
        &.current {
        	background-color: $green;
        	color: $white;
        }
    }

}
