/////////////////////////////////////////////////////////////////////////////////////////////////////////
/* VOY TALENT - DS */
/////////////////////////////////////////////////////////////////////////////////////////////////////////

//
// LIST
//


.m-list {

  line-height: 1;
  font-size: 18px;

  ul{
    padding: 0;
    margin: 0 0 22px;

  }
  .box {
    font-size: 15px;
    line-height: 1;
    padding: 7px 0 0 ;
  }

  strong {
    &:after {
      content: ' / '
    }
  }

  li {
    padding: 8px 0;
    list-style-type: none;
    border-bottom: 1px solid $grey2;

    .btn {
      display: inline-block;
      position: absolute;
      right: 8px;
      top: 50%;
      height: 36px;
      transform: translateY(-50%);
      &.-icon-only {
        padding-right: 2px;
        padding-left: 2px;
      }
      svg {
        position: relative;
        height: 20px;
        top: -4px;
      }

    }

    a {
      text-decoration: none;
      padding: 18px 50px 18px 12px;
      position: relative;
      display: block;
      color: inherit;

      &:hover {
        @extend .-pattern-stripe-light;
        .btn {
            background: transparent;
            border: 1px solid $grey2;
            svg {
              fill: $black;
            }
        }
      }

    }

  }

  &.-search {
      h3 span{
        color: $yellow;
        display: block;
        padding-top: 8px;
      }

      .text {
        strong {
          display: block;
          padding-bottom: 8px;
        }
      }
  }



@media screen and (min-width: $bp-768) {

  &-header {
    font-size: 42px;
  }

  li {
    .btn {
      height: 48px;
      &.-icon-only {
        padding-right: 64px;
        padding-left: 64px;
      }
      svg {
        height: 48px;
        top: 0px;
      }
    }

    a {
      padding: 30px 190px 30px 22px;
    }

    .box {
      color: $grey2;
      border: 1px solid $grey2;
      position: absolute;
      right: 200px;
      top: 50%;
      padding: 6px 26px;
      transform: translateY(-50%);
    }

  }

  a.-icon{
    svg {
      right: 35px;
    }
  }

  &.-search {
      h3 span{
        padding-top: 12px;
      }
      .text {
        strong {
          padding-bottom: 12px;
          font-size: 24px;
        }
      }

      li {
        &:last-child {
          border-bottom: none;
        }
      }
  }

}







}
