@charset "UTF-8";
/* VOY TALENT - DS */
/* VOY TALENT - DS */
/*
@mixin transition($property, $duration:0.3s, $function: ease, $delay: 0s){
-webkit-transition: $property $duration $function $delay;
-ms-transition: $property $duration $function $delay;
transition: $property $duration $function $delay;
} */
/* - Placeholder text color - - */
/* - Placeholder text transform - - */
/* - Placeholder text fade  out - - */
/* VOY TALENT - DS */
.ds-grid [class^="g-"] {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.ds-grid .gc {
  zoom: 1;
  padding: 0 11px;
  min-width: 320px;
  max-width: 1130px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box; }
  .ds-grid .gc:before, .ds-grid .gc:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .ds-grid .gc:after {
    clear: both; }
  .ds-grid .gc > [class^="g-"] {
    padding: 0 11px; }
  .ds-grid .gc.-maximize {
    width: 100%;
    max-width: 100%;
    padding: 0; }
    .ds-grid .gc.-maximize > [class^="g-"],
    .ds-grid .gc.-maximize > div > [class^="g-"] {
      padding: 0; }
    .ds-grid .gc.-maximize .-full-width > [class^="g-"] {
      padding: 0 11px; }
  .ds-grid .gc.-column-center > [class^="g-"], .ds-grid .gc.-g-center > [class^="g-"] {
    float: none;
    margin-right: auto;
    margin-left: auto; }
    .ds-grid .gc.-column-center > [class^="g-"].g-1, .ds-grid .gc.-g-center > [class^="g-"].g-1 {
      float: left; }
  .ds-grid .gc.-full-width {
    width: 100%;
    max-width: 100%;
    padding: 0 11px; }
    .ds-grid .gc.-full-width.-no-gutter {
      padding: 0 22px; }
  .ds-grid .gc.-no-gutter {
    padding: 0 11px;
    margin-left: auto;
    margin-right: auto; }
    .ds-grid .gc.-no-gutter [class^="g-"] {
      padding: 0; }
    .ds-grid .gc.-no-gutter [class^="m-"] {
      margin-left: 0;
      margin-right: 0; }

.ds-grid .g-1 {
  width: 50%; }

.ds-grid .g-2 {
  width: 50%; }

.ds-grid .g-3 {
  width: 100%; }

.ds-grid .g-4 {
  width: 100%; }

.ds-grid .g-5 {
  width: 100%; }

.ds-grid .g-6 {
  width: 100%; }

.ds-grid .g-7 {
  width: 100%; }

.ds-grid .g-8 {
  width: 100%; }

.ds-grid .g-9 {
  width: 100%; }

.ds-grid .g-10 {
  width: 100%; }

.ds-grid .g-11 {
  width: 100%; }

.ds-grid .g-12 {
  width: 100%; }

.ds-grid .row {
  zoom: 1; }
  .ds-grid .row:before, .ds-grid .row:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .ds-grid .row:after {
    clear: both; }

@media screen and (min-width: 600px) {
  .ds-grid .-g-shift-vp768 [class^="g-"] {
    float: right; }
  .ds-grid .g-1 {
    width: 8.33333%; }
  .ds-grid .g-2 {
    width: 16.66667%; }
  .ds-grid .g-3 {
    width: 25%; }
  .ds-grid .g-4 {
    width: 33.33333%; }
  .ds-grid .g-5 {
    width: 41.66667%; }
  .ds-grid .g-6 {
    width: 50%; }
  .ds-grid .g-7 {
    width: 58.33333%; }
  .ds-grid .g-8 {
    width: 66.66667%; }
  .ds-grid .g-9 {
    width: 75%; }
  .ds-grid .g-10 {
    width: 83.33333%; }
  .ds-grid .g-11 {
    width: 91.66667%; }
  .ds-grid .g-12 {
    width: 100%; }
  .ds-grid .g-push-1 {
    margin-left: 8.33333%; }
  .ds-grid .g-push-2 {
    margin-left: 16.66667%; }
  .ds-grid .g-push-3 {
    margin-left: 25%; }
  .ds-grid .g-push-4 {
    margin-left: 33.33333%; }
  .ds-grid .g-push-5 {
    margin-left: 41.66667%; }
  .ds-grid .g-push-6 {
    margin-left: 50%; }
  .ds-grid .g-push-7 {
    margin-left: 58.33333%; }
  .ds-grid .g-push-8 {
    margin-left: 66.66667%; }
  .ds-grid .g-push-9 {
    margin-left: 75%; }
  .ds-grid .g-push-10 {
    margin-left: 83.33333%; }
  .ds-grid .g-push-11 {
    margin-left: 91.66667%; }
  .ds-grid .g-push-12 {
    margin-left: 100%; }
  .ds-grid .g-pull-1 {
    margin-right: 8.33333%; }
  .ds-grid .g-pull-2 {
    margin-right: 16.66667%; }
  .ds-grid .g-pull-3 {
    margin-right: 25%; }
  .ds-grid .g-pull-4 {
    margin-right: 33.33333%; }
  .ds-grid .g-pull-5 {
    margin-right: 41.66667%; }
  .ds-grid .g-pull-6 {
    margin-right: 50%; }
  .ds-grid .g-pull-7 {
    margin-right: 58.33333%; }
  .ds-grid .g-pull-8 {
    margin-right: 66.66667%; }
  .ds-grid .g-pull-9 {
    margin-right: 75%; }
  .ds-grid .g-pull-10 {
    margin-right: 83.33333%; }
  .ds-grid .g-pull-11 {
    margin-right: 91.66667%; }
  .ds-grid .g-pull-12 {
    margin-right: 100%; } }

@media screen and (min-width: 1280px) {
  .ds-grid .gc {
    margin: 0 auto;
    padding: 0; } }

@media screen and (min-width: 240px) and (max-width: 599px) {
  .ds-grid .g-m-1 {
    width: 8.33333%; }
  .ds-grid .g-m-2 {
    width: 16.66667%; }
  .ds-grid .g-m-3 {
    width: 25%; }
  .ds-grid .g-m-4 {
    width: 33.33333%; }
  .ds-grid .g-m-5 {
    width: 41.66667%; }
  .ds-grid .g-m-6 {
    width: 50%; }
  .ds-grid .g-m-7 {
    width: 58.33333%; }
  .ds-grid .g-m-8 {
    width: 66.66667%; }
  .ds-grid .g-m-9 {
    width: 75%; }
  .ds-grid .g-m-10 {
    width: 83.33333%; }
  .ds-grid .g-m-11 {
    width: 91.66667%; }
  .ds-grid .g-m-12 {
    width: 100%; }
  .ds-grid .gc .g-m-push-1 {
    margin-left: 8.33333%; }
  .ds-grid .gc .g-m-push-2 {
    margin-left: 16.66667%; }
  .ds-grid .gc .g-m-push-3 {
    margin-left: 25%; }
  .ds-grid .gc .g-m-push-4 {
    margin-left: 33.33333%; }
  .ds-grid .gc .g-m-push-5 {
    margin-left: 41.66667%; }
  .ds-grid .gc .g-m-push-6 {
    margin-left: 50%; }
  .ds-grid .gc .g-m-push-7 {
    margin-left: 58.33333%; }
  .ds-grid .gc .g-m-push-8 {
    margin-left: 66.66667%; }
  .ds-grid .gc .g-m-push-9 {
    margin-left: 75%; }
  .ds-grid .gc .g-m-push-10 {
    margin-left: 83.33333%; }
  .ds-grid .gc .g-m-push-11 {
    margin-left: 91.66667%; }
  .ds-grid .gc .g-m-push-12 {
    margin-left: 100%; }
  .ds-grid .gc .g-m-pull-1 {
    margin-right: 8.33333%; }
  .ds-grid .gc .g-m-pull-2 {
    margin-right: 16.66667%; }
  .ds-grid .gc .g-m-pull-3 {
    margin-right: 25%; }
  .ds-grid .gc .g-m-pull-4 {
    margin-right: 33.33333%; }
  .ds-grid .gc .g-m-pull-5 {
    margin-right: 41.66667%; }
  .ds-grid .gc .g-m-pull-6 {
    margin-right: 50%; }
  .ds-grid .gc .g-m-pull-7 {
    margin-right: 58.33333%; }
  .ds-grid .gc .g-m-pull-8 {
    margin-right: 66.66667%; }
  .ds-grid .gc .g-m-pull-9 {
    margin-right: 75%; }
  .ds-grid .gc .g-m-pull-10 {
    margin-right: 83.33333%; }
  .ds-grid .gc .g-m-pull-11 {
    margin-right: 91.66667%; }
  .ds-grid .gc .g-m-pull-12 {
    margin-right: 100%; } }

@media screen and (min-width: 600px) and (max-width: 997px) {
  .ds-grid .g-t-1 {
    width: 8.33333%; }
  .ds-grid .g-t-2 {
    width: 16.66667%; }
  .ds-grid .g-t-3 {
    width: 25%; }
  .ds-grid .g-t-4 {
    width: 33.33333%; }
  .ds-grid .g-t-5 {
    width: 41.66667%; }
  .ds-grid .g-t-6 {
    width: 50%; }
  .ds-grid .g-t-7 {
    width: 58.33333%; }
  .ds-grid .g-t-8 {
    width: 66.66667%; }
  .ds-grid .g-t-9 {
    width: 75%; }
  .ds-grid .g-t-10 {
    width: 83.33333%; }
  .ds-grid .g-t-11 {
    width: 91.66667%; }
  .ds-grid .g-t-12 {
    width: 100%; }
  .ds-grid .gc .g-t-push-1 {
    margin-left: 8.33333%; }
  .ds-grid .gc .g-t-push-2 {
    margin-left: 16.66667%; }
  .ds-grid .gc .g-t-push-3 {
    margin-left: 25%; }
  .ds-grid .gc .g-t-push-4 {
    margin-left: 33.33333%; }
  .ds-grid .gc .g-t-push-5 {
    margin-left: 41.66667%; }
  .ds-grid .gc .g-t-push-6 {
    margin-left: 50%; }
  .ds-grid .gc .g-t-push-7 {
    margin-left: 58.33333%; }
  .ds-grid .gc .g-t-push-8 {
    margin-left: 66.66667%; }
  .ds-grid .gc .g-t-push-9 {
    margin-left: 75%; }
  .ds-grid .gc .g-t-push-10 {
    margin-left: 83.33333%; }
  .ds-grid .gc .g-t-push-11 {
    margin-left: 91.66667%; }
  .ds-grid .gc .g-t-push-12 {
    margin-left: 100%; }
  .ds-grid .gc .g-t-pull-1 {
    margin-right: 8.33333%; }
  .ds-grid .gc .g-t-pull-2 {
    margin-right: 16.66667%; }
  .ds-grid .gc .g-t-pull-3 {
    margin-right: 25%; }
  .ds-grid .gc .g-t-pull-4 {
    margin-right: 33.33333%; }
  .ds-grid .gc .g-t-pull-5 {
    margin-right: 41.66667%; }
  .ds-grid .gc .g-t-pull-6 {
    margin-right: 50%; }
  .ds-grid .gc .g-t-pull-7 {
    margin-right: 58.33333%; }
  .ds-grid .gc .g-t-pull-8 {
    margin-right: 66.66667%; }
  .ds-grid .gc .g-t-pull-9 {
    margin-right: 75%; }
  .ds-grid .gc .g-t-pull-10 {
    margin-right: 83.33333%; }
  .ds-grid .gc .g-t-pull-11 {
    margin-right: 91.66667%; }
  .ds-grid .gc .g-t-pull-12 {
    margin-right: 100%; } }

/* VOY TALENT - DS */
html {
  font-size: 17px;
  line-height: 25px; }

body {
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, "Apple Color Emoji", “Segoe UI”, Roboto, “Helvetica Neue”, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal; }

@media screen and (min-width: 768px) {
  html {
    font-size: 17px;
    line-height: 25px; } }

@media screen and (min-width: 1280px) {
  html {
    font-size: 17px;
    line-height: 25px; } }

.ds-typography h1,
.ds-typography h2,
.ds-typography h3,
.ds-typography h4,
.ds-typography h5,
.ds-typography h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Apple Color Emoji", “Segoe UI”, Roboto, “Helvetica Neue”, Helvetica, Arial, sans-serif;
  color: #000000;
  display: block;
  margin: 0 0 .44em;
  word-break: break-word;
  font-weight: 800; }

.ds-typography h1 {
  font-size: 50px;
  line-height: 62px; }

.ds-typography h2 {
  font-size: 40px;
  line-height: 52px; }

.ds-typography h3 {
  font-size: 30px;
  line-height: 40px; }

.ds-typography h4 {
  font-size: 26px;
  line-height: 34px; }

.ds-typography h5 {
  font-size: 22px;
  line-height: 34px; }

.ds-typography h6 {
  font-size: 20px;
  line-height: 34px; }

.ds-typography p {
  font-size: inherit;
  line-height: inherit;
  margin: 0 0 1.5em; }

.ds-typography .preamble,
.ds-typography .excerpt {
  font-weight: bold;
  font-size: 1.17647rem;
  line-height: 1.64706rem; }

/* VOY TALENT - DS */
/* VOY TALENT - DS */
.-pattern-stripe-big-dark {
  background: repeating-linear-gradient(-45deg, transparent, #4d4d4d 1px, transparent 2px, transparent 3px, #4d4d4d 4px, transparent 5px, transparent 20px); }

.-pattern-stripe-big-light {
  background: repeating-linear-gradient(-45deg, transparent, #c9c9c9 1px, transparent 2px, transparent 3px, #c9c9c9 4px, transparent 5px, transparent 20px); }

.-pattern-stripe-orange {
  background: repeating-linear-gradient(-45deg, transparent, #ffa300 1px, transparent 2px, transparent 3px, #ffa300 4px, transparent 5px, transparent 20px); }

.-pattern-stripe-dark {
  background: repeating-linear-gradient(-45deg, transparent, #4d4d4d 1px, transparent 2px, transparent 6px); }

.-pattern-stripe-light-tight {
  background: repeating-linear-gradient(-45deg, transparent, #c9c9c9 1px, transparent 2px, transparent 4px); }

.-pattern-stripe-light {
  background: repeating-linear-gradient(-45deg, transparent, #c9c9c9 1px, transparent 2px, transparent 7px); }

.-pattern-stripe-big-orange {
  background: repeating-linear-gradient(-45deg, transparent, #ffa300 1px, transparent 2px, transparent 3px, #ffa300 4px, transparent 5px, transparent 20px); }

.-pattern-stripe-orange {
  background: repeating-linear-gradient(-45deg, transparent, #ffa300 1px, transparent 2px, transparent 7px); }

.-pattern-solid-orange {
  background: #ffa300; }

/* VOY TALENT - DS */
.btn {
  position: relative;
  display: inline-block;
  background-color: #000000;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  line-height: 48px;
  border-radius: 50px;
  padding: 0 30px;
  text-align: center;
  cursor: pointer;
  /*

            .no-touch & {

            }

            .touch & {

            }

        */ }
  .btn.-icon {
    position: relative;
    overflow: hidden;
    padding-right: 64px; }
    .btn.-icon svg {
      position: absolute;
      right: 20px;
      fill: #ffffff;
      width: 30px;
      height: 48px;
      display: inline-block; }
  .btn.-shadow {
    -webkit-box-shadow: -2px 2px 18px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: -2px 2px 18px rgba(0, 0, 0, 0.35);
    box-shadow: -2px 2px 18px rgba(0, 0, 0, 0.35); }
  .btn.-block {
    display: block; }
  .btn:hover {
    background: #333333;
    color: #ffffff; }
  .btn:active {
    background: #333333; }
  .btn:visited {
    color: #ffffff; }
  .btn:focus {
    outline: none; }
  .btn.-green {
    background-color: #4be8a5; }
    .btn.-green:hover {
      background: #81efc0;
      color: #ffffff; }
    .btn.-green:active {
      background: #81efc0; }
    .btn.-green:visited {
      background-color: #4be8a5; }
  .btn.-orange {
    background-color: #ffa300; }
    .btn.-orange:hover {
      background: #ffb93d;
      color: #ffffff; }
    .btn.-orange:active {
      background: #ffb93d; }
    .btn.-orange:visited {
      background-color: #ffa300; }
  .btn.-yellow {
    background-color: #ffbf0d; }
    .btn.-yellow:hover {
      background: #ffcf4a;
      color: #ffffff; }
    .btn.-yellow:active {
      background: #ffcf4a; }
    .btn.-yellow:visited {
      background-color: #ffbf0d; }

textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="phone"],
input[type="datetime"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"] {
  font-size: 16px;
  padding: 16px;
  margin: 0 0 18px;
  border-radius: 4px;
  background-color: #f5f5f5;
  border: none;
  display: block;
  box-sizing: border-box;
  outline: none; }
  textarea.-full-width,
  input[type="text"].-full-width,
  input[type="password"].-full-width,
  input[type="email"].-full-width,
  input[type="phone"].-full-width,
  input[type="datetime"].-full-width,
  input[type="date"].-full-width,
  input[type="month"].-full-width,
  input[type="time"].-full-width,
  input[type="week"].-full-width {
    width: 100%; }
  textarea.-error,
  input[type="text"].-error,
  input[type="password"].-error,
  input[type="email"].-error,
  input[type="phone"].-error,
  input[type="datetime"].-error,
  input[type="date"].-error,
  input[type="month"].-error,
  input[type="time"].-error,
  input[type="week"].-error {
    background-color: red;
    color: #ffffff; }

textarea {
  min-height: 192px; }

.checkbox-holder {
  position: relative;
  display: block;
  padding: 1px 0 0 40px;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif; }
  .checkbox-holder input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
  .checkbox-holder .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    border: 1px solid #c9c9c9;
    border-radius: 6px; }
    .checkbox-holder .checkmark:after {
      content: "";
      position: absolute;
      display: none; }
  .checkbox-holder input:checked ~ .checkmark {
    background-color: #f5f5f5; }
  .checkbox-holder input:checked ~ .checkmark:after {
    display: block; }

.checkbox-holder .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #000000;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

/* VOY TALENT - DS */
.s-header {
  height: 108px;
  background: #000000;
  padding: 0; }
  .s-header .gc {
    position: relative; }
  .s-header svg {
    fill: #ffffff; }
  .s-header a {
    color: #ffffff;
    text-decoration: none;
    height: 108px;
    line-height: 108px;
    display: inline-block;
    box-sizing: border-box;
    float: left;
    margin: 0 25px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    letter-spacing: 2px; }
    .s-header a:hover {
      color: #ffa300; }
    .s-header a.-active:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 4px;
      width: 100%;
      background: #ffffff; }
    .s-header a.-active:hover:after {
      background: #ffa300; }
  .s-header nav {
    float: left; }
  .s-header .logo {
    margin-right: 50px;
    float: left;
    margin-top: 35px; }
    .s-header .logo svg {
      height: 38px;
      width: 138px;
      max-width: 100%; }
  .s-header .search-temp {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%); }

figure {
  margin: 0; }
