<!-- layout.njk -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Voy Talent | Styleguide</title>
  <link rel="stylesheet" href="assets/dest/css/index.css">
  <link rel="stylesheet" href="assets/dest/css/voy-ds.css">
</head>
<body class="sgd-grid">
   {% include "partials/header.njk" %}


  <article class="content">
    {% block content %}

    {% endblock %}
  </article>  

  <script src="assets/js/main.js"></script>
  
</body>
</html>