<!-- layout.njk -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Voy Talent | Styleguide</title>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" href="assets/dest/css/index.css">
  <link rel="stylesheet" href="assets/dest/css/voy-ds.css">
</head>
<body class="ds-grid">

  {% include "partials/header.njk" %}

  <article class="content">
    {% block content %}

    {% endblock %}
  </article>

  {% include "ds/assets-svg-sprite.njk" %}
  <script src="assets/dest/js/voy.js"></script>

</body>
</html>
