/////////////////////////////////////////////////////////////////////////////////////////////////////////
/* VOY TALENT - DS */
/////////////////////////////////////////////////////////////////////////////////////////////////////////

//
// S-JOIN-EMAIL
//


.s-join-email {
  background: $green;

  .btn {
    margin-top: 22px;
  }

  @media screen and (min-width: $bp-768) {
    .btn {
      margin-top: 0;
    }
  }

}

