/////////////////////////////////////////////////////////////////////////////////////////////////////////
/* VOY TALENT - DS */
/////////////////////////////////////////////////////////////////////////////////////////////////////////

//
// IMPORTS
//

$MOBILE: 		true;
$TABLET: 		true;
$DESKTOP: 		true;
$MOBILETABLET: 	true;

$VP1920: 		true;
$VP1680: 		true;
$VP1440: 		true;
$VP1368: 		true;
$VP1280: 		true;
$VP1024: 		true;
$VP768: 		true;
$VP600: 		true;
$VP480: 		true;
$VP320: 		true;

@import "_voy-variables";

@import "_ds-utils/functions";
@import "_ds-utils/mixins";
@import "_ds-utils/mixins-breakpoint";

@import "ds-common/ds-grid";
@import "ds-common/ds-patterns";


// @import "reset";

// @import "base";
// @import "footer";
// @import "grid";
// @import "header";
// @import "lists";
// @import "navigation";
// @import "typography";
