/////////////////////////////////////////////////////////////////////////////////////////////////////////
// ACCESSIBILITY
/////////////////////////////////////////////////////////////////////////////////////////////////////////

// - - - Show / Hide

.-hide {
  display: none!important;
}

.-block,
.-show,
.-critical-hide {
  display: block!important;
}


// - - - Background position

  // Top
  .-focus-left-top {
    background-position: left top!important;
  }
  .-focus-center-top {
    background-position: center top!important;
  }
  .-focus-right-top {
    background-position: right top!important;
  }
  // Center
  .-focus-left-center {
    background-position: left center!important;
  }
  .-focus-center-center {
    background-position: center center!important;
  }
  .-focus-right-center {
     background-position: right center!important;
  }
  // Bottom
  .-focus-left-bottom {
    background-position: left bottom!important;
  }
  .-focus-center-bottom {
     background-position: center bottom!important;
  }
  .-focus-right-bottom {
    background-position: right bottom!important;
  }


// - - - Text position

  .-text-pos-left {
    text-align: left!important;
  }

  .-text-pos-right {
    text-align: right!important;
  }

  .-text-pos-center {
    text-align: center!important;
  }


// - - - Section padding

// (i) -> Body added for specificity
body{

  .-s-p-t {
    padding-top: 30px;
  }
  .-s-p-b {
    padding-bottom: 30px;
  }

  .-s-p-t-extra {
    padding-top: 60px;
  }
  .-s-p-b-extra {
    padding-bottom: 60px;
  }

  @media screen and (min-width: $bp-600) {
    .-s-p-t {
      padding-top: 42px;
    }
    .-s-p-b {
      padding-bottom: 42px;
    }
    .-s-p-t-extra {
      padding-top: 84px;
    }
    .-s-p-b-extra {
      padding-bottom: 84px;
    }
  }

  @media screen and (min-width: $bp-768) {
    .-s-p-t {
      padding-top: 54px;
    }
    .-s-p-b {
      padding-bottom: 54px;
    }
    .-s-p-t-extra {
      padding-top: 108px;
    }
    .-s-p-b-extra {
      padding-bottom: 108px;
    }
  }

  @media screen and (min-width: $bp-1024) {
    .-s-p-t {
      padding-top: 66px;
    }
    .-s-p-b {
      padding-bottom: 66px;
    }
    .-s-p-t-extra {
      padding-top: 132px;
    }
    .-s-p-b-extra {
      padding-bottom: 132px;
    }
  }

}


// - - - Accessibility

// (i) -> Many screen reader and browser combinations announce broken words as they would appear visually.
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;

}

// (i) ->  Above WP toolbar
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}
