.component-divider {
	background-color: $orange;
	text-align: center;
	padding: 12px 0 8px;
	margin: 0 0 1.5em;
	font-weight: 500;
	.text {
		font-size: 32px;
		color: $white;
		display: block;
		margin-bottom: 8px;
		line-height: normal;
	}
	.icon {
		display: none;
		fill: $white;
	}

	@media screen and (min-width: $bp-768) {
		.icon {
			display: block;
		}
	}
}