/////////////////////////////////////////////////////////////////////////////////////////////////////////
/* VOY TALENT - DS */
/////////////////////////////////////////////////////////////////////////////////////////////////////////

//
// HELPERS
//

    // Background position

    // Top
    .-focus-left-top {
      background-position: left top!important;
    }
    .-focus-center-top {
      background-position: center top!important;
    }
    .-focus-right-top {
      background-position: right top!important;
    }
    // Center
    .-focus-left-center {
      background-position: left center!important;
    }
    .-focus-center-center {
      background-position: center center!important;
    }
    .-focus-right-center {
       background-position: right center!important;
    }
    // Bottom
    .-focus-left-bottom {
      background-position: left bottom!important;
    }
    .-focus-center-bottom {
       background-position: center bottom!important;
    }
    .-focus-right-bottom {
      background-position: right bottom!important;
    }
