/////////////////////////////////////////////////////////////////////////////////////////////////////////
/* VOY TALENT - DS */
/////////////////////////////////////////////////////////////////////////////////////////////////////////

//
// PATTERNS
//

.-pattern-stripe-big-dark{
    background: repeating-linear-gradient(
      -45deg,
      transparent,
      $grey1 1px,
      transparent 2px,
      transparent 3px,
      $grey1 4px,
      transparent 5px,
      transparent 20px
    );
}

.-pattern-stripe-big-light{
    background: repeating-linear-gradient(
      -45deg,
      transparent,
      $grey5 1px,
      transparent 2px,
      transparent 3px,
      $grey5 4px,
      transparent 5px,
      transparent 20px
    );
}
.-pattern-stripe-orange{
    background: repeating-linear-gradient(
      -45deg,
      transparent,
      $orange 1px,
      transparent 2px,
      transparent 3px,
      $orange 4px,
      transparent 5px,
      transparent 20px
    );
}

.-pattern-stripe-yellow{
    background: repeating-linear-gradient(
      -45deg,
      transparent,
      $yellow 1px,
      transparent 2px,
      transparent 3px,
      $yellow 4px,
      transparent 5px,
      transparent 20px
    );
}

.-pattern-stripe-dark{
    background: repeating-linear-gradient(
      -45deg,
      transparent,
      $grey1 1px,
      transparent 2px,
      transparent 6px

    );
}

.-pattern-stripe-light-tight{
    background: repeating-linear-gradient(
      -45deg,
      transparent,
      $grey5 1px,
      transparent 2px,
      transparent 4px

    );
}

.-pattern-stripe-light{
    background: repeating-linear-gradient(
      -45deg,
      transparent,
      $grey5 1px,
      transparent 2px,
      transparent 7px
    );
}
.-pattern-stripe-big-orange{
    background: repeating-linear-gradient(
      -45deg,
      transparent,
      $orange 1px,
      transparent 2px,
      transparent 3px,
      $orange 4px,
      transparent 5px,
      transparent 20px
    );
}

.-pattern-stripe-orange{
    background: repeating-linear-gradient(
      -45deg,
      transparent,
      $orange 1px,
      transparent 2px,
      transparent 7px
    );
}

.-pattern-solid-orange{
    background: $orange;
}

.-pattern-stripe-big-yellow{
    background: repeating-linear-gradient(
      -45deg,
      transparent,
      $yellow 1px,
      transparent 2px,
      transparent 3px,
      $yellow 4px,
      transparent 5px,
      transparent 20px
    );
}

.-pattern-stripe-yellow{
    background: repeating-linear-gradient(
      -45deg,
      transparent,
      $yellow 1px,
      transparent 2px,
      transparent 7px
    );
}

.-pattern-solid-yellow{
    background: $yellow;
}

.-pattern-stripe-big-green{
    background: repeating-linear-gradient(
      -45deg,
      transparent,
      $green 1px,
      transparent 2px,
      transparent 3px,
      $green 4px,
      transparent 5px,
      transparent 20px
    );
}

.-pattern-stripe-green{
    background: repeating-linear-gradient(
      -45deg,
      transparent,
      $green 1px,
      transparent 2px,
      transparent 7px
    );
}

.-pattern-solid-green{
    background: $green;
}
