/////////////////////////////////////////////////////////////////////////////////////////////////////////
/* VOY TALENT - DS */
/////////////////////////////////////////////////////////////////////////////////////////////////////////

//
// PATTERNS
//

.-pattern-stripe-big-dark{
    background: repeating-linear-gradient(
      -45deg,
      transparent,
      $grey1 1px,
      transparent 2px,
      transparent 3px,
      $grey1 4px,
      transparent 5px,
      transparent 20px
    );
}

.-pattern-stripe-big-light{
    background: repeating-linear-gradient(
      -45deg,
      transparent,
      $grey3 1px,
      transparent 2px,
      transparent 3px,
      $grey3 4px,
      transparent 5px,
      transparent 20px
    );
}
.-pattern-stripe-orange{
    background: repeating-linear-gradient(
      -45deg,
      transparent,
      $orange 1px,
      transparent 2px,
      transparent 3px,
      $orange 4px,
      transparent 5px,
      transparent 20px
    );
}

.-pattern-stripe-dark{
    background: repeating-linear-gradient(
      -45deg,
      transparent,
      $grey1 1px,
      transparent 2px,
      transparent 6px
  
    );
}

.-pattern-stripe-light-tight{
    background: repeating-linear-gradient(
      -45deg,
      transparent,
      $grey3 1px,
      transparent 2px,
      transparent 4px

    );
}

.-pattern-stripe-light{
    background: repeating-linear-gradient(
      -45deg,
      transparent,
      $grey3 1px,
      transparent 2px,
      transparent 7px
    );
}
.-pattern-stripe-big-orange{
    background: repeating-linear-gradient(
      -45deg,
      transparent,
      $orange 1px,
      transparent 2px,
      transparent 3px,
      $orange 4px,
      transparent 5px,
      transparent 20px
    );
}

.-pattern-stripe-orange{
    background: repeating-linear-gradient(
      -45deg,
      transparent,
      $orange 1px,
      transparent 2px,
      transparent 7px
    );
}

.-pattern-solid-orange{
    background: $orange;
}
