/////////////////////////////////////////////////////////////////////////////////////////////////////////
/* VOY TALENT - DS */
/////////////////////////////////////////////////////////////////////////////////////////////////////////

//
// TYPOGRAPHY
//

///////////////////////////////////////////////////////////
// BASE TYPO
///////////////////////////////////////////////////////////

html {
    font-size: $vp320-base-rem;
    line-height: $vp320-base-rem-line-height;
}

body {
    color: $black;
    font-family: $font-system;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    &:before,
    &:after {
        height:0 ;
        overflow: hidden;
        display: block;
    }

    &:before {
        content:'#{$font-b-google}'
    }

    &:after {
        content:'#{$font-a-google}'
    }
}

@media screen and (min-width: $bp-768) {
    html {
        font-size: $vp768-base-rem;
        line-height: $vp768-base-rem-line-height;
    }
}

@media screen and (min-width: $bp-1280) {
    html {
        font-size: $vp1280-base-rem;
        line-height: $vp1280-base-rem-line-height;
    }
}



///////////////////////////////////////////////////////////
// HEADINGS
///////////////////////////////////////////////////////////

    h1,
    h2,
    h3,
    h4,
    h5,
    h6  {
        font-family: $font-header;
        color: $black;
        display: block;
        margin: 0 0 .44em;
        word-break: break-word;
        font-weight: normal;
    }

    h1  {font-size: 61px; line-height: 73px;}
    h2  {font-size: 36px; line-height: 42px;}
    h3  {font-size: 26px; line-height: 36px;}
    h4  {font-size: 24px; line-height: 34px;}
    h5  {font-size: 22px; line-height: 32px;}
    h6  {font-size: 20px; line-height: 30px;}


// - - - Section (Striped)

    .header-section {

        color: $grey1;
        font-size: 32px;
        line-height: 1;
        font-weight: 700;
        padding: 8px 0px 4px;

        @media screen and (min-width: $bp-768) {
            background: repeating-linear-gradient(-45deg, transparent, $grey5 1px, transparent 2px, transparent 7px);
            font-size: 66px;
            padding: 16px 5px 8px;
        }
    }

// - - - Number (Solid/Striped)

    .header-number {
        position: relative;
        font-size: 22px;
        line-height: 1;
        z-index: 1;
        padding-left: 12px;
        margin: 20px 0 36px;

        padding-top: 70px;

        figure {
            @extend .-pattern-stripe-yellow;
            position: absolute;
            left:0;
            top: 0;
            z-index: -1;
            height :60px;
            width: 60px;
            border-radius: 200px;
        }

        .number {
            position: absolute;
            left:0;
            top: 0;
            font-size: 44px;
            display: inline-block;
            padding-right: 5px;
            color: $yellow;
            width: 66px;
            text-align: center;
            line-height: 60px;
        }

        .text {
            display: block;
        }

        &.-solid {
            figure {
                background: $yellow;
            }
            .number {
                color: $white;
            }
        }

        @media screen and (min-width: $bp-768) {

              padding-top: 0px;
            figure {
                top: 50%;
                transform: translateY(-50%);
                height :90px;
                width: 90px;
            }
            .number {
                position: static;
                font-size: 52px;
                display: inline-block;
                padding-right: 8px;
                width: auto;
                text-align: center;
                line-height: 1;
            }
            .text {
                display: inline-block;
            }
        }

    }

///////////////////////////////////////////////////////////
// Misc
///////////////////////////////////////////////////////////

    p {
        font-size: inherit;
        line-height: inherit;
        margin: 0 0 1.5em;
    }


 // - - - HELPER CLASSES / MODIFIERS

    .preamble,
    .excerpt {
        font-weight: bold;
        font-size: rem-calc(20px);
        line-height: rem-calc(28px);
    }




