/////////////////////////////////////////////////////////////////////////////////////////////////////////
// FONT IMPORT
/////////////////////////////////////////////////////////////////////////////////////////////////////////

// - - - So Ray

// (i) -> Place fonts i same folder as css for url convinience

@font-face {
    font-family: 'so_rayextrabold';
    src: url('soray-extrabold-webfont.eot');
    src: url('soray-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('soray-extrabold-webfont.woff2') format('woff2'),
         url('soray-extrabold-webfont.woff') format('woff'),
         url('soray-extrabold-webfont.ttf') format('truetype'),
         url('soray-extrabold-webfont.svg#so_rayextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
