
<div class="b-header -wp-block -raster -big">
  <h2>Header text</h2>
</div>

<div class="b-testamonials -image-left -no-m">

  <div class="gc">
    <div class="g-4">
      <figure class="-round">
        {{image}}
      </figure>
    </div>
    <div class="g-8">
      <div class="header"><h3 class="-block">{{name}} </h3> {{Designation}}</div>
      <p>{{Text}}</p>
      <a href="{{Link}}" class="btn -yellow -icon-only">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"/></svg>
      </a>
    </div>
  </div>

</div>




