<div class="m-filter">
    <h3 class="m-filter-header">Stories from a specific field?</h3>
    <ul>
      <li>
        <label class="checkbox-holder">Management
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
      </li>
      <li>
        <label class="checkbox-holder">Analytics
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
      </li>
      <li>
        <label class="checkbox-holder">Design
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
      </li>
      <li>
        <label class="checkbox-holder">Developer
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
      </li>
      <li>
        <label class="checkbox-holder">Creative
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
      </li>
      <li>
        <label class="checkbox-holder">Engineering
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
      </li>
    </ul>
</div>
