
<style type="text/css">

        /*
          sizeA = 480px
          sizeB = 1024px
          sizeC = 1440px
          sizeD = 2048px

          ex. assets/images/temp-featured-a.jpg -> img width 480px
          ex. assets/images/temp-featured-d.jpg -> img width 2048px
        */

        /*  Default mobile first image
            sizeA = 480px */
        .s-featured-image .image  { background-image: url(assets/images/temp-featured.jpg); }

        /*  Higher resolution
            sizeB = 1024px */
        @media only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min--moz-device-pixel-ratio: 2),
        only screen and (-o-min-device-pixel-ratio: 2/1),
        only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 192dpi),
        only screen and (min-resolution: 2dppx)
        { .s-featured-image .image  { background-image: url(assets/images/temp-featured.jpg); } }

        /*  Default 768
            sizeB = 1024px */
        @media only screen and (min-width:768px) { .s-featured-image .image  { background-image: url(assets/images/temp-featured.jpg); } }
        /*  Higher resolution 768
            sizeD = 2048px */
        @media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width:768px),
        only screen and (min--moz-device-pixel-ratio: 2) and (min-width:768px),
        only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width:768px),
        only screen and (min-device-pixel-ratio: 2) and (min-width:768px),
        only screen and (min-resolution: 192dpi) and (min-width:768px),
        only screen and (min-resolution: 2dppx) and (min-width:768px)
        { .s-featured-image .image  { background-image: url(assets/images/temp-featured.jpg); } }

        /*  Default 1024
            sizeC = 1440px */
        @media only screen and (min-width:1024px) { .s-featured-image .image  { background-image: url(assets/images/temp-featured.jpg); } }
        /*  Higher resolution 1024
            sizeD = 2048px */
        @media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width:1024px),
        only screen and (min--moz-device-pixel-ratio: 2) and (min-width:1024px),
        only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width:1024px),
        only screen and (min-device-pixel-ratio: 2) and (min-width:1024px),
        only screen and (min-resolution: 192dpi) and (min-width:1024px),
        only screen and (min-resolution: 2dppx) and (min-width:1024px)
        { .s-featured-image .image  { background-image: url(assets/images/temp-featured.jpg); } }

        /*  Default 1440
            sizeC = 1440px */
        @media only screen and (min-width:1440px) { .s-featured-image .image  { background-image: url(assets/images/temp-featured.jpg); } }
        /*  Higher resolution 1440
            sizeD = 2048px */
        @media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width:1440px),
        only screen and (min--moz-device-pixel-ratio: 2) and (min-width:1440px),
        only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width:1440px),
        only screen and (min-device-pixel-ratio: 2) and (min-width:1440px),
        only screen and (min-resolution: 192dpi) and (min-width:1440px),
        only screen and (min-resolution: 2dppx) and (min-width:1440px)
        { .s-featured-image .image  { background-image: url(assets/images/temp-featured.jpg); } }

</style>

<section class="s-featured-image">

  <figure class="image" class="-focus-center-center">
      <!-- <img src="assets/images/temp-featured.jpg"> -->
  </figure>

  <div class="text">
    <div class="gc">
      <div class="g-12">

        <div class="headers">
          <h2 class="header">
            Cursus euismod
          </h2><br>
          <h3 class="sub-header">
            Elementum eu facilisis
          </h3>
        </div>

      </div>
    </div>
  </div>

</section>

