
<style type="text/css">
  .s-featured-image .image {
    background-image: url(assets/images/temp-featured.jpg);
  }
</style>

<section class="s-featured-image">

  <figure class="image" class="-focus-center-center">
      <!-- <img src="assets/images/temp-featured.jpg"> -->
  </figure>

  <div class="text">
    <div class="gc">
      <div class="g-12">

        <div class="headers">
          <h2 class="header">
            Cursus euismod
          </h2>
          <h3 class="sub-header">
            Elementum eu facilisis
          </h3>
        </div>

      </div>
    </div>
  </div>

</section>

