


 <section class="s-featured-image">
     <figure class="image">
        <img src="assets/images/temp-featured.jpg">
    </figure>
  <div class="gc">

    <div class="headers">
      <h2 class="header">
          Stories
      </h2>
      <h3 class="sub-header">
        Stories Page Subtitle
      </h3>
    </div>
  </div>
 </section>

