
 <section class="s-grid-demo">

  	<div class="gc">
  	  <div class="g-1"><div class="s-grid-demo-placeholder"></div></div>
      <div class="g-1"><div class="s-grid-demo-placeholder"></div></div>
      <div class="g-1"><div class="s-grid-demo-placeholder"></div></div>
      <div class="g-1"><div class="s-grid-demo-placeholder"></div></div>
      <div class="g-1"><div class="s-grid-demo-placeholder"></div></div>
      <div class="g-1"><div class="s-grid-demo-placeholder"></div></div>
      <div class="g-1"><div class="s-grid-demo-placeholder"></div></div>
      <div class="g-1"><div class="s-grid-demo-placeholder"></div></div>
      <div class="g-1"><div class="s-grid-demo-placeholder"></div></div>
      <div class="g-1"><div class="s-grid-demo-placeholder"></div></div>
      <div class="g-1"><div class="s-grid-demo-placeholder"></div></div>
      <div class="g-1"><div class="s-grid-demo-placeholder"></div></div>
   </div>

 </section>

