/////////////////////////////////////////////////////////////////////////////////////////////////////////
/* STYLEGUIDE - Variables */
/////////////////////////////////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////
// COLORS
/////////////////////////////////////////////////////////////////////////


$sgd-black:     #1a1a1a;
$sgd-white:     #ffffff;
$sgd-green:     #4be8a5 !default;
$sgd-yellow:    #ffbf0d !default;

$sgd-grey1:     #4d4d4d !default;
$sgd-grey2:     #b5b5b5 !default;
$sgd-grey3:     #c9c9c9 !default;
$sgd-grey4:     #f5f5f5 !default;
$sgd-grey5:     #e0e0e0 !default;


/////////////////////////////////////////////////////////////////////////
// FONTS
/////////////////////////////////////////////////////////////////////////

$sgd-font-system: -apple-system, BlinkMacSystemFont, "Apple Color Emoji", “Segoe UI”, Roboto, “Helvetica Neue”, Helvetica, Arial, sans-serif;

$sgd-font-xs:   12px;
$sgd-font-s:    14px;
$sgd-font:      16px;
$sgd-font-l:    18px;
$sgd-font-xl:   20px;
