/* APPLICATION
------------------------------------------------------------------------*/

$MOBILE: 		true;
$TABLET: 		true;
$DESKTOP: 		true;
$MOBILETABLET: 	true;

$VP1920: 		true;
$VP1680: 		true;
$VP1440: 		true;
$VP1368: 		true;
$VP1280: 		true;
$VP1024: 		true;
$VP768: 		true;
$VP600: 		true;
$VP480: 		true;
$VP320: 		true;

@import "_variables";
@import "./voy-ds/_voy-variables";
@import "_utils/functions";
@import "_utils/mixins";
@import "_utils/mixins-breakpoint";
@import "_utils/mixins-styleguide";

@import "sgd-global";

@import "sgd-typography";
@import "sgd-color-card";
@import "sgd-pattern";
@import "sgd-placeholder";

@import "s-footer";
@import "sgd-grid";
@import "sgd-header";
@import "c-lists";
@import "m-navigation";
@import "c-typography";



