/////////////////////////////////////////////////////////////////////////////////////////////////////////
/* STYLEGUIDE */
/////////////////////////////////////////////////////////////////////////////////////////////////////////

//
// GRID
//

// Grid variables

$prefix: sgd !default;
$contentWidth: 100% !default;
$columns: 12 !default;
$gutter: 22 !default;
$min-width: 320px !default;
$max-width: 1130px !default;


@mixin grid-cols($col: $columns, $name: g) {

    $columnprefix: $name;

    @for $i from 1 through $columns {

        @if $i==12 {

            $combo: $i;
            $comboStart: 1;

            @for $p from $comboStart through $combo {
                .#{$columnprefix}-#{$p}     {width: ($p / $combo) * 100%;}
            }

        }

        @if $i==12 {

            $combo: $i;
            $comboStart: 1;

            @for $p from $comboStart through $combo {
                .#{$prefix}-gc .#{$columnprefix}-push-#{$p}     {margin-left: ($p / $combo) * 100%;}
            }

            @for $p from $comboStart through $combo {
                .#{$prefix}-gc .#{$columnprefix}-pull-#{$p}     {margin-right: ($p / $combo) * 100%;}
            }

        }

    } // @for END

}


// Mixin - Grid

@mixin grid($prefix, $contentWidth, $columns, $gutter, $min-width) {

    @include VP320 {

        .#{$prefix}-grid {

            // - - - GC - G=COLUMN, M=Module

            [class^="#{$prefix}-g-"] {
                float: left;
                @include box-sizing();
            }

            // - - - GC - content wrapper

            .#{$prefix}-gc {
                @include clearfix;
                padding: 0 $gutter * 0.5px;
                min-width: $min-width;
                max-width: $max-width;
                margin-left: auto;
                margin-right: auto;
                box-sizing: border-box;

                > [class^="#{$prefix}-g-"] {
                  padding: 0 $gutter * 0.5px;
                }

                // - - - GC - MAXIMIZE

                &.-maximize {
                    width: 100%;
                    max-width: 100%;
                    padding: 0;

                    > [class^="#{$prefix}-g-"],
                    > div > [class^="#{$prefix}-g-"] {
                        padding: 0;
                    }

                    .-full-width {
                        > [class^="#{$prefix}-g-"] {
                            padding: 0 $gutter * 0.5px;
                        }
                    }

                }

                // - - - GC - CENTER

                &.-column-center,
                &.-g-center {
                    > [class^="#{$prefix}-g-"] {
                        float: none;
                        margin-right: auto;
                        margin-left: auto;
                        &.#{$prefix}-g-1 {
                            float: left;
                        }
                    }
                }

                // - - - GC - FULL WIDTH

                &.-full-width {
                    width: 100%;
                    max-width: 100%;
                    padding: 0 $gutter * 0.5px;
                    &.-no-gutter {
                        padding: 0 $gutter * 1px;
                    }
                }


                // - - - GC - NO GUTTER

                &.-no-gutter {
                    padding: 0 $gutter * 0.5px;
                    margin-left: auto;
                    margin-right: auto;

                    [class^="#{$prefix}-g-"] {
                        padding: 0;
                    }

                }


            } // .#{$prefix}-gc END


            // - - - COLUMNS

            // Columns > 1/2
            $oneStart: 1;
            $oneEnd: 2;

            @for $p from $oneStart through $oneEnd {

                .#{$prefix}-g-#{$p} { width: 50%;}

            }

            $twoStart: 3;
            $twoEnd: 6;

            @for $p from $twoStart through $twoEnd {
                .#{$prefix}-g-#{$p} { width: 100%;}
            }

            $threeStart: 7;
            $threeEnd: 12;


            @for $p from $threeStart through $threeEnd {
                .#{$prefix}-g-#{$p} { width: 100%;}
            }

            .#{$prefix}-row {
                @include clearfix;
            }

        } // -grid END


    } // VP320 END




    @include VP600 {

        .#{$prefix}-grid {

            // - - - GC




            // - - - COLUMNS - MODIFIER

            .-g-shift-vp600 [class^="#{$prefix}-g-"] {
                float: right;
            }

            // - - - COLUMNS & PUSH / PULL

            @for $i from 1 through $columns {

                @if $i == 12 {

                    $combo: $i;
                    $comboStart: 1;

                    @for $p from $comboStart through $combo {
                        .#{$prefix}-g-#{$p} {width: ($p / $combo) * 100%;}
                    }

                }

                @if $i == 12 {

                    $combo: $i;
                    $comboStart: 1;

                    @for $p from $comboStart through $combo {
                        .#{$prefix}-g-push-#{$p} {margin-left: ($p / $combo) * 100%;}
                    }

                    @for $p from $comboStart through $combo {
                        .#{$prefix}-g-pull-#{$p} {margin-right: ($p / $combo) * 100%;}
                    }
                }
            }
        }
    } // VP768 END
    @include VP768 {

        .#{$prefix}-grid {

          // - - - COLUMNS - MODIFIER
          .-g-shift-vp768 [class^="#{$prefix}-g-"] {
              float: right;
          }

        }
    }

    @include VP1280 {

        .#{$prefix}-grid {
            .#{$prefix}-gc {
                margin: 0 auto;
                // width: 86%;
                padding: 0;
            }
        }

    }

    @include MOBILE     { .#{$prefix}-grid { @include grid-cols(12, #{$prefix}-g-m); } }
    @include TABLET     { .#{$prefix}-grid { @include grid-cols(12, #{$prefix}-g-t); } }



} // MIXIN grid END

// MAKE THE GRID
@include grid($prefix, $contentWidth, $columns, $gutter, $min-width);


