/////////////////////////////////////////////////////////////////////////////////////////////////////////
/* STYLEGUIDE - Header */
/////////////////////////////////////////////////////////////////////////////////////////////////////////

.sgd-top-header {
  margin: 0;
  text-align: center;
  display: block;
  position: relative;

  .logo-inverted {
  	//position: absolute;
  	width: 100%;
  	padding: 15px 0;
  	background: $sgd-black;
  	top: 0;
  	svg {
  		fill: $sgd-yellow;
  		height: 30px;
  	}
  }
  #logo{
    margin-top: 50px;
    margin-bottom: 50px;
  }

}

.s-breadcrumbs {
  &.-sgd {
    text-align: center;
    a {
      &:last-child {
        &:after {
          content: '';
          display: inline-block;
          padding: 0;
        }

      }
    }
  }
}

.-sgd .s-header {
  position:static;
}
