/////////////////////////////////////////////////////////////////////////////////////////////////////////
/* STYLEGUIDE - Typography */
/////////////////////////////////////////////////////////////////////////////////////////////////////////

.sgd-header {

  font-size: 36px;
  font-family: $sgd-font-system;
  font-weight: 900;
  color: $sgd-grey1;
  position: relative;
  margin: 3rem 0 1.75rem;

  &.-sub {
    font-size: 24px;
    color: #dedede;
  }

  &.-type {
    &:before {
      font-size: 10px;
      background: $sgd-grey1;
      padding: .45rem;
      color: $sgd-white;
      border-radius: 4px;
      position: absolute;
      bottom: 120%;
      line-height: 1;
      text-transform: uppercase;
    }
  }

  &.-discrete {
    opacity: .18;
  }

  &.-common {
    &:before {
      content: "common";
    }
  }

  &.-component {
    &:before {
      content: "component";
    }
  }

  &.-module {
    &:before {
      content: "module";
    }
  }

  &.-block {
    &:before {
      content: "block";
    }
  }

  &.-section {
    &:before {
      content: "section";
    }
  }

  &.-page {
    &:before {
      content: "page";
    }
  }

  &.-pages {
    &:before {
      content: "pages";
    }
  }


  .-inverted & {
    color: $sgd-grey4;
      &.-type {
      &:before {
        background: $sgd-grey4;
        color: $sgd-grey1;
      }
    }
  }

}
