/////////////////////////////////////////////////////////////////////////////////////////////////////////
/* STYLEGUIDE - Icons */
/////////////////////////////////////////////////////////////////////////////////////////////////////////

.sgd-icons {
  
  svg {
    height: auto;
    width: 70px;
    margin:0 22px 22px 0;
  }

}