/////////////////////////////////////////////////////////////////////////////////////////////////////////
/* STYLEGUIDE - Global */
/////////////////////////////////////////////////////////////////////////////////////////////////////////

body {
  color: $color-charcoal;
  font-size: $font-small;
  font-family: $font-sans;
  min-height: 100vh;
  margin: 0;
}

header,
footer,
article {
  background-color: $color-gray-tint;
}

[class^="s-"] {
    padding: 1.5em 0 2.75rem;

    &.-light {
    	background-color: $white;
    }

    &.-inverted {
    	background-color: $black;
    	color: $grey4;
    }

}

.-hide {
  display: none;
}





