/////////////////////////////////////////////////////////////////////////////////////////////////////////
/* STYLEGUIDE - Global */
/////////////////////////////////////////////////////////////////////////////////////////////////////////

body {
  color: $sgd-black;
  font-size: $sgd-font-s;
  font-family: $sgd-font-system;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  &.-sgd {
    padding-top: 0;
    background-color: $white;
  }
}

[class^="sgd-s-"] {
  padding: 1.5em 0 2.75rem;

  &.-light {
  	background-color: #f6f6f6;
  }
  &.-off-white {
    background-color: #f9f9f9;
  }

  &.-inverted {
  	background-color: $sgd-black;
  	color: $sgd-grey4;
  }
  &.-grey {
    background-color: $sgd-grey4;
  }
}

.-hide {
  display: none;
}

// - - NORMALIZE

body.-sgd .s-breadcrumbs{
  position: relative;
    .body {
      top: 0 !important;
      position: absolute;
    }
}





